body{
    background-color:#eee;

}

.fondo{
    /* 
    background-color:green;
    background-image:url(http://placekitten.com/300/300);
    height: 300px;
    background-repeat: no-repeat;
    background-position:left-top;
    background-attachment: fixed;
    /* las propiedades de background se pueden escribir en una sola linea
    background: green url(http://placekitten.com/300/300) no-repeat fixed;
    background-color:rgba(0,0,0,0.5);
    opacity:1;
    */
    background-image:linear-gradient(190deg,white,red);
}